
body{
  background-color: #014E56;
}
.nav{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #014E56;
    transition: .7s;
}
#myteam{
  transition: .7s;
}
.navbar{
    top: 0;
    position: relative;
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100 !important;
    transition: .7s;
    
}
.nav-left{
    padding: 57px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left ul{
    padding-left: 40px;
    display: flex;
    list-style-type: none;
}
.nav-left a{
    margin-left: 40px;
    font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
transition: .5s;
}
.nav-left a:hover{
    color: #F67E7E;
}
.nav-rigth{
    padding: 57px 0;
}
.nav-rigth button,
.butt{
    padding: 10px 32.5px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: .5s;
}
.nav-rigth button:hover,
.butt:hover{
    background: #ffff;
    color: #002529;
}




.topnav {
    display: none;
    overflow: hidden;
    background-color: #014E56;
    position: relative;
    transition: .5s;
  }
  
 
  .topnav #myLinks {
    display: none;
    transition: all 1s ease-in-out;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: .5s;
  }
  
 
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .topnav a:hover {
    
    color: #F67E7E;
  }
  
 
  .active {
    transition: 1s;
    background-color: #014E56;
    color: white;
  }
@media (max-width:550px){
    .nav{
        display: none;
    }
.topnav {
    display: block;
  }
}